#root {
    text-align: center;
    scroll-behavior: smooth;
    margin: 0;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
}

.card  {
    background-color: rgb(238, 238, 238);
    border: 1px solid rgba(122, 122, 122, 0.993);
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(99, 99, 99);
    padding: 20px;
    margin: 30px;
    text-align: center;
    max-width: 250px;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    justify-content: center;
}

.cardP {
    background-color: rgb(230, 229, 229);
    padding: 1px;
    border-radius: 10px;
    color: hsl(0, 0%, 20%);
}

.card .pfp {
    max-width: 60%;
    height: auto;
    border-radius: 50%;
    box-shadow: 3px 5px 5px rgb(158, 158, 158);
}

.card .nome {
    margin: 10;
    color: hsl(0, 0%, 10%);
}

.dark-card {
    background-color: #2e2e31;
    color: white;
    box-shadow: 3px 5px 5px rgb(77, 76, 76);
}

.dark-card .cardP {
    background-color: #444447;
    color: white;
}

.dark-card .nome {
    color: white;
}

.dark-card .pfp {
    box-shadow: 3px 5px 5px rgb(80, 78, 78);
}

.headerRoot .nav-bar {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: left;
    justify-items: left;
}

.headerRoot .nav-bar .as {
    /* display: inline-block; */
    color: #000000;
    text-decoration: none;
    border-radius: 10px;
    padding: 10px;
    background-color: #dbe0e2;
}

.headerRoot .nav-bar .as:hover{
    background-color: #bbbfc0;
}

.nome-pagina {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    text-align: left;
    border-radius: 10px;
    background-color: #c7cecf;
    padding: 10px;
    max-width: fit-content;
}

.students-div {
    background-color: #d6dddf;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10;
    padding: 10px;
    border: 1px solid black;
    margin: 20px;
    text-align: center;
    justify-items: center;
    border-radius: 10px;
    box-shadow: 3px 3px 5px;
    max-width: 300px;
    display: inline-block;
}

.students-div .students-ps {
    background-color: #f8f8f8;
    border-radius: 10px;
    text-align: center;
    justify-items: center;
    max-width: 300px;
    padding: 5px;
}

.students-div img{
    width: 100px;
    border-radius: 50%;
    margin: 10px;
    box-shadow: 2px 2px 5px;

}

.dark-students {
    background-color: #535353;
    color: white;
    box-shadow: 3px 3px 5px rgb(34, 34, 34);
}

.dark-students .students-ps {
    color: white;
    background-color: #3d3e3f;
}

.dark-students img {
    box-shadow: 2px 2px 5px black;
}

.div-ul {
    border: 1px solid black;
    border-radius: 5px;
    background-color: #d2d7d8;
    display: inline-block;
    max-width: 500px;
    padding: 10px;
    margin: 5px;
    box-shadow: 2px 2px 5px;
}

.div-ul .ul-itens {
    /* border: 1px solid; */
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    list-style: none;
    background-color: #c8cbcc;
}

.div-ul .ul-itens .li-ul {
    padding: 10px;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.div-ul .ul-itens .li-ul:hover {
    background-color: #c7cecf;
    border-radius: 10px;
}

.ativo {
    background-color: #aeb2b3;
    border-radius: 10px;
}

.dark-div-ul {
    background-color: #393a3b;
    box-shadow: 3px 3px 5px rgb(22, 22, 22);
}

.dark-div-ul .ul-itens {
    background-color: #545558;
}

.dark-div-ul .ul-itens .li-ul:hover{
    background-color: #454749;
}

.dark-div-ul .ativo {
    background-color: #47474b;
}


.div-inicial-new-list {
    background-color: #dfe2e2;
    border: 1px solid black;
    border-radius: 10px;
    margin: 15px;
}

.div-inicial-new-list .criar-new-list {
    border: none;
    padding: 10px;
    font-size: 25px;
    margin: 10px;
    border-radius: 10px;
}

.div-new-list {
    background-color: #979a9b;
    border: 1px solid;
    border-radius: 10px;
    padding: 10px;
    display: grid;
    margin: 10px;
}

.div-new-list .input-new-list {
    height: 25px;
    font-size: 20px;
}

.div-new-list .submit-new-list {
    font-size: 20px;
}

.div-greeting {
    display: flex;
    justify-content: right;
    position: absolute;
    top: 0%;
    left: 80%;
}

.user-greeting {
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    background-color: #dee7eb;
    padding: 10px;
    top: 20px;
    margin-top: 25px;
    margin-right: 70%;
    max-width: max-content;
    z-index: 0;
}

.btn-greeting {
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    background-color: #dcebf0;
    padding: 10px;
    margin-top: 25px;
    top: 20%;
}

.dark-div-greeting .btn-greeting {
    background-color: #3a3b3d;
    color: white;
}

.dark-div-greeting .user-greeting{
    background-color: #3f3e3e;
    color: white;
}

.div-List {
    border-radius: 10px;
    background-color: #dadddd;
    padding: 10px;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    text-align: center;
}

.div-List .h3-List {
    background-color: #979a9b;
    border-radius: 10px;
    padding: 10px;
}

.div-List .ul-List li{
    list-style: none;
    padding: 3px;
    border-radius: 5px;
}

.div-List .ul-List li:hover {
    background-color: #afb3b4;
}

.dark-div-List {
    background-color: #3d3e3f;
    box-shadow: 3px 3px 5px black;
}

.dark-div-List .h3-List {
    background-color: #2e2e31;
}

.dark-div-List .ul-List li:hover{
    background-color: #272626;
}

.progress-bar {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 8px;
    border: none;
    background: transparent;
}

.progress-bar::-webkit-progress-bar {
    background: #ffffff;
}

.progress-bar::-webkit-progress-value {
    background-color: rgb(160, 201, 255);
}

.dark-progress-bar::-webkit-progress-value {
    background-color: #2a2b2c;
}

.div-github-api {
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    background-color: #c8cbcc;
    padding: 10px;
    text-align: center;
    margin: 10px;
}

.div-github-api .github-avatar {
    box-shadow: 3px 3px 5px;
    border-radius: 5px;
}

.div-github-api .github-dados {
    background-color: #aeb3b4;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
}

.dark-github-api {
    background-color: #272626;
    box-shadow: 3px 3px 5px black;
    display: inline-block;
}

.dark-github-api .github-avatar {
    box-shadow: 3px 3px 5px black;
}

.dark-github-api .github-dados {
    background-color: #393a3b;
}

.header-um {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.btn-toggle-theme {
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    background-color: #e1e5e6;
    padding: 10px;
    position: absolute;
    margin-left: 83%;
    min-width: 100px;
    max-width: fit-content;
    top: 20px;
    z-index: 10;
}

.p-btn-theme {
    background-color: #c3c4c4;
    padding: 3px;
    border-radius: 5px;
    margin: 5px;
}

.dark-header .nome-pagina{
    background-color: #3e4041;
}

.dark-header .btn-toggle-theme{
    background-color: #3a3b3d;
    color: white;
}

.dark-header .p-btn-theme {
    background-color: #2a2b2c;
    color: white;
}

.div-Button-class {
    text-align: center;
}

.div-btn-render {
    display: inline-block;
    background-color: #d6dbe0;
    text-align: center;
    min-width: 200px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 3px 3px 3px rgb(94, 92, 92);
}

.div-btn-render .btn-render {
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    margin: 5px;
}

.div-btn-render .p-render {
    background-color: #c6cace;
    padding: 10px;
}

.dark-btn-render {
    background-color: #272626;
    box-shadow: 3px 3px 5px black;
}

.dark-btn-render .btn-render {
    background-color: rgb(81, 81, 87);
    color: white;
}

.dark-btn-render .p-render {
    color: white;
    background-color: #272626;
}

.btn-clicaai {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    display: inline-flex;
    background-color: #e4e5eb;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgb(99, 98, 98);
}

.dark-btn-clicaai {
    background-color: rgb(71, 71, 75);
    color: white;
    box-shadow: 3px 3px 5px black;
}

